/*--------------------------------

Lineicons Free Web Font
Crafted by Lineicons.com Team
Version: 4.0

-------------------------------- */

@font-face {
    font-family: 'lineicons';
    src: url('../fonts/LineIcons.eot');
    src: url('../fonts/LineIcons.eot') format('embedded-opentype'),
    url('../fonts/LineIcons.woff2') format('woff2'),
    url('../fonts/LineIcons.woff') format('woff'),
    url('../fonts/LineIcons.ttf') format('truetype'),
    url('../fonts/LineIcons.svg') format('svg');
}

/* base class */
.lni {
    display: inline-block;
    font: normal normal normal 1em/1 'lineicons';
    color: inherit;
    flex-shrink: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lni-user::before {
    content: "\ea08";
}

.lni-chevron-left::before {
    content: "\eb0f";
}

.lni-menu::before {
    content: "\ea25";
}

.lni-cog::before {
    content: "\ea3e";
}

.lni-search-alt::before {
    content: "\ea17";
}

.lni-alarm::before {
    content: "\ea4e";
}

.lni-funnel::before {
    content: "\eac9";
}

.lni-chevron-down::before {
    content: "\eb11";
}

.lni-envelope::before {
    content: "\eb5c";
}

.lni-inbox::before {
    content: "\eb5a";
}

.lni-exit::before {
    content: "\eb03";
}

.lni-cart-full::before {
    content: "\eb7f";
}

.lni-arrow-up::before {
    content: "\eb15";
}

.lni-dollar::before {
    content: "\eb39";
}

.lni-arrow-down::before {
    content: "\eb1d";
}

.lni-credit-cards::before {
    content: "\eb3c";
}