@font-face {
    font-family: 'lineicons';
    src: url('../fonts/LineIcons.eot');
    src: url('../fonts/LineIcons.eot') format('embedded-opentype'),
    url('../fonts/LineIcons.woff2') format('woff2'),
    url('../fonts/LineIcons.woff') format('woff'),
    url('../fonts/LineIcons.ttf') format('truetype'),
    url('../fonts/LineIcons.svg') format('svg');
}

/* base class */
.lni {
    display: inline-block;
    font: normal normal normal 1em/1 'lineicons';
    color: inherit;
    flex-shrink: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lni-cloud-upload::before {
    content: "\ea41";
}

.lni-chevron-left::before {
    content: "\eb0f";
}

.lni-search-alt::before {
    content: "\ea17";
}

.lni-pencil-alt::before {
    content: "\eaf4";
}
